Eugene Yakovlev - Completed
May 8, 2020

<h1 style="text-align:center"> Drexel University </h1>
<h2 style = "text-align:center"> College of Computing and Informatics</h2>
<h2 style = "text-align:center">INFO 323: Cloud Computing and Big Data</h2>
<h3 style = "text-align:center">Assignment 3</h3>
<div style="text-align:center; border-style:solid; padding: 10px">
<div style="font-weight:bold">Due Date: Sunday, May 17, 2020</div>
This assignment counts for 15% of the final grade
</div>

### A. Assignment Overview
This assignment provides the opportunity for you to practice with Spark programming basics. 

### B. What to Hand In
	
Sumbit a completed this Jupyter notebook. 

### C. How to Hand In

Submit your Jupyter notebook file through the course website in the Blackboard Learn system.

### D. When to Hand In

1. Submit your assignment no later than 11:59pm in the due date.
2. There will be a 10% (absolute value) deduction for each day of lateness, to a maximum of 3 days; assignments will not be accepted beyond that point. Missing work will earn a zero grade.

### E. Answer the following questions
### Note: All the programming must be done in Spark.

#### Question 1: Data Exploration in Spark
1. Copy the flights.csv file to HDFS system. 
2. Create a Spark DataFrom from the HDFS flights.csv file.
3. Write Spark code the answer the following questions.

In [9]:
flights_df = spark.read.option("inferSchema", "true").option("header", "true").csv("flights.csv")
flights_df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|       Saint Martin|    1|
|       United States|            Romania|   12|
|       United States|            Croatia|    2|
|       United States|            Ireland|  291|
|       United States|              India|   62|
|               Egypt|      United States|   11|
|       United States|            Grenada|   47|
|          Costa Rica|      United States|  529|
|             Senegal|      United States|   35|
|       United States|       Sint Maarten|  290|
|              Guyana|      United States|   52|
|       United States|   Marshall Islands|   35|
|               Malta|      United States|    2|
|              Malawi|      United States|    1|
|             Bolivia|      United States|   33|
|            Anguilla|      United States|   34|
|             Algeria|      United States|    9|
|       United States|           Paraguay|   14|
|           Gibraltar|      United States|    1|
|Turks and Caicos ...|      United States|  193|
+--------------------+-------------------+-----+
only showing top 20 rows

a. list all the unique destination countries.

In [29]:
unique_dest_countries = flights_df.select("DEST_COUNTRY_NAME").distinct()
unique_dest_countries.show(unique_dest_countries.count())

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|                Chad|
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Malaysia|
|                Fiji|
|              Turkey|
|              Malawi|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
|              Taiwan|
|British Virgin Is...|
|            Dominica|
|             Algeria|
|            Slovakia|
|               Macau|
|           Argentina|
|             Belgium|
|              Angola|
|             Ecuador|
|               Qatar|
|             Finland|
|           Nicaragua|
|               Ghana|
|                Peru|
|       United States|
|               India|
|               China|
|             Curacao|
|               Malta|
|              Kuwait|
|    Marshall Islands|
|               Chile|
|          Martinique|
|      Cayman Islands|
|             Bolivia|
|             Nigeria|
|               Italy|
|            Suriname|
|              Norway|
|               Spain|
|                Cuba|
|          Mauritania|
|          Guadeloupe|
|             Denmark|
|            Barbados|
|             Ireland|
|             Morocco|
|              Panama|
|          Cape Verde|
|           Hong Kong|
|           Venezuela|
|             Ukraine|
|             Iceland|
|              Israel|
|    Saint Barthelemy|
|Saint Kitts and N...|
|    French Polynesia|
|         South Korea|
|           Gibraltar|
|             Uruguay|
|Bonaire, Sint Eus...|
|              Mexico|
|               Aruba|
|           Indonesia|
|Saint Vincent and...|
|         The Bahamas|
|           Guatemala|
|          Azerbaijan|
|        Sint Maarten|
|             Grenada|
|Federated States ...|
|             Liberia|
|             Tunisia|
|            Honduras|
| Trinidad and Tobago|
|        Saudi Arabia|
|       French Guiana|
|         Switzerland|
|            Ethiopia|
|              Latvia|
|             Jamaica|
|United Arab Emirates|
|         Saint Lucia|
|              Canada|
|               Samoa|
|      Czech Republic|
|        Cook Islands|
|              Brazil|
|              Belize|
| Antigua and Barbuda|
|  Dominican Republic|
|               Japan|
|          Luxembourg|
|         New Zealand|
|           Greenland|
|               Haiti|
|              Poland|
|            Portugal|
|           Australia|
|             Romania|
|             Austria|
|               Egypt|
|          Costa Rica|
|         El Salvador|
|          Kazakhstan|
|        Burkina Faso|
|        South Africa|
|             Bermuda|
|             Bahrain|
|            Colombia|
|             Hungary|
|            Pakistan|
|      United Kingdom|
|         Netherlands|
+--------------------+

b. List all the unique origin countries.

In [30]:
unique_origin_countries = flights_df.select("ORIGIN_COUNTRY_NAME").distinct()
unique_origin_countries.show(unique_origin_countries.count())

+--------------------+
| ORIGIN_COUNTRY_NAME|
+--------------------+
|            Paraguay|
|              Russia|
|            Anguilla|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|                Fiji|
|              Turkey|
|             Germany|
|            Cambodia|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
|British Virgin Is...|
|              Taiwan|
|            Dominica|
|           Argentina|
|              Angola|
|             Belgium|
|  Congo (Brazaville)|
|             Ecuador|
|               Qatar|
|             Finland|
|           Nicaragua|
|               Ghana|
|                Peru|
|               India|
|       United States|
|               China|
|             Curacao|
|              Kuwait|
|               Malta|
|    Marshall Islands|
|               Chile|
|          Martinique|
|      Cayman Islands|
|             Croatia|
|             Nigeria|
|             Bolivia|
|               Italy|
|            Suriname|
|              Norway|
|               Spain|
|                Cuba|
|          Guadeloupe|
|             Denmark|
|            Barbados|
|             Ireland|
|             Morocco|
|          Cape Verde|
|              Panama|
|           Hong Kong|
|           Venezuela|
|             Ukraine|
|    Saint Barthelemy|
|             Iceland|
|              Israel|
|Saint Kitts and N...|
|    French Polynesia|
|         South Korea|
|Bonaire, Sint Eus...|
|             Uruguay|
|              Mexico|
|               Aruba|
|           Indonesia|
|         The Bahamas|
|Saint Vincent and...|
|           Guatemala|
|          Azerbaijan|
|             Grenada|
|        Sint Maarten|
|Federated States ...|
|             Tunisia|
|            Honduras|
| Trinidad and Tobago|
|        Saudi Arabia|
|       French Guiana|
|         Switzerland|
|            Ethiopia|
|             Jamaica|
|              Latvia|
|United Arab Emirates|
|        Saint Martin|
|         Saint Lucia|
|              Canada|
|               Samoa|
|      Czech Republic|
|        Cook Islands|
|              Brazil|
|              Belize|
| Antigua and Barbuda|
|  Dominican Republic|
|               Japan|
|          Luxembourg|
|         New Zealand|
|           Greenland|
|               Haiti|
|              Poland|
|            Portugal|
|           Australia|
|             Romania|
|            Bulgaria|
|             Austria|
|          Costa Rica|
|               Egypt|
|          Kazakhstan|
|         El Salvador|
|        South Africa|
|             Bermuda|
|            Colombia|
|             Hungary|
|            Pakistan|
|      United Kingdom|
|         Netherlands|
+--------------------+

c. What are the origin and destination countries with maximum count?

In [49]:
from pyspark.sql.functions import col, desc, asc

flights_df.orderBy(desc("count")).show(1)

# United States has 358,354 flights

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|358354|
+-----------------+-------------------+------+
only showing top 1 row

d. List all the flight records within the same country.

In [45]:
flights_df.where(col("ORIGIN_COUNTRY_NAME") == col("DEST_COUNTRY_NAME")).show()

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|358354|
+-----------------+-------------------+------+

e. List all the flights to United States ordered by their counts in ascending order.

In [51]:
flights_to_us = flights_df.where(col("DEST_COUNTRY_NAME") == "United States").orderBy(asc("count"))
flights_to_us.show(flights_to_us.count())

+-----------------+--------------------+------+
|DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME| count|
+-----------------+--------------------+------+
|    United States|            Bulgaria|     1|
|    United States|        Saint Martin|     1|
|    United States|          Kazakhstan|     1|
|    United States|           Greenland|     1|
|    United States|           Indonesia|     1|
|    United States|  Congo (Brazaville)|     1|
|    United States|             Hungary|     1|
|    United States|             Ukraine|     1|
|    United States|             Tunisia|     1|
|    United States|            Cambodia|     1|
|    United States|             Croatia|     2|
|    United States|               Malta|     2|
|    United States|Saint Vincent and...|     3|
|    United States|       French Guiana|     4|
|    United States|          Azerbaijan|     5|
|    United States|            Ethiopia|    11|
|    United States|      Czech Republic|    11|
|    United States|               Egypt|    11|
|    United States|             Romania|    12|
|    United States|              Angola|    12|
|    United States|            Pakistan|    12|
|    United States|        Cook Islands|    12|
|    United States|              Latvia|    13|
|    United States|            Paraguay|    14|
|    United States|             Bolivia|    14|
|    United States|             Morocco|    15|
|    United States|               Ghana|    15|
|    United States|          Cape Verde|    16|
|    United States|             Uruguay|    18|
|    United States|             Finland|    19|
|    United States|              Greece|    19|
|    United States|              Kuwait|    24|
|    United States|               Samoa|    25|
|    United States|            Suriname|    27|
|    United States|            Kiribati|    27|
|    United States|                Fiji|    27|
|    United States|             Senegal|    28|
|    United States|          Martinique|    32|
|    United States|        South Africa|    32|
|    United States|              Poland|    33|
|    United States|            Anguilla|    35|
|    United States|    Marshall Islands|    35|
|    United States|            Dominica|    36|
|    United States|               Palau|    38|
|    United States|    French Polynesia|    40|
|    United States|             Nigeria|    43|
|    United States|             Austria|    46|
|    United States|          Guadeloupe|    47|
|    United States|             Grenada|    47|
|    United States|    Saint Barthelemy|    53|
|    United States|              Guyana|    55|
|    United States|               India|    62|
|    United States|Bonaire, Sint Eus...|    63|
|    United States|              Jordan|    64|
|    United States|Federated States ...|    71|
|    United States|        Saudi Arabia|    74|
|    United States|             Curacao|    77|
|    United States|         New Zealand|    77|
|    United States|              Norway|    87|
|    United States|            Barbados|    89|
|    United States|              Turkey|    92|
|    United States|               Qatar|    96|
|    United States|British Virgin Is...|   101|
|    United States|              Sweden|   101|
|    United States|         Saint Lucia|   109|
|    United States|              Israel|   112|
|    United States| Antigua and Barbuda|   112|
|    United States|          Luxembourg|   115|
|    United States|         Philippines|   116|
|    United States|             Denmark|   116|
|    United States|            Portugal|   122|
|    United States|Saint Kitts and N...|   123|
|    United States|              Belize|   143|
|    United States|              Russia|   151|
|    United States|           Argentina|   153|
|    United States|               Chile|   168|
|    United States|           Nicaragua|   170|
|    United States| Trinidad and Tobago|   175|
|    United States|             Iceland|   177|
|    United States|             Bermuda|   190|
|    United States|               Haiti|   193|
|    United States|Turks and Caicos ...|   204|
|    United States|United Arab Emirates|   226|
|    United States|             Belgium|   230|
|    United States|           Australia|   235|
|    United States|              Taiwan|   240|
|    United States|           Venezuela|   258|
|    United States|      Cayman Islands|   278|
|    United States|        Sint Maarten|   290|
|    United States|             Ireland|   291|
|    United States|         Switzerland|   300|
|    United States|                Peru|   315|
|    United States|             Ecuador|   326|
|    United States|           Guatemala|   327|
|    United States|               Aruba|   348|
|    United States|           Hong Kong|   381|
|    United States|               Italy|   385|
|    United States|            Honduras|   412|
|    United States|                Cuba|   419|
|    United States|               Spain|   424|
|    United States|              Panama|   460|
|    United States|         El Salvador|   486|
|    United States|          Costa Rica|   560|
|    United States|              Brazil|   578|
|    United States|         Netherlands|   702|
|    United States|             Jamaica|   714|
|    United States|         South Korea|   754|
|    United States|               China|   767|
|    United States|            Colombia|   888|
|    United States|              France|   960|
|    United States|         The Bahamas|   991|
|    United States|  Dominican Republic|  1282|
|    United States|             Germany|  1343|
|    United States|               Japan|  1501|
|    United States|      United Kingdom|  1812|
|    United States|              Mexico|  6490|
|    United States|              Canada|  8177|
|    United States|       United States|358354|
+-----------------+--------------------+------+

#### Question 2: Data Cleaning in Spark
1. Copy the weather-samples.csv file to HDFS system. 
2. Create a Spark DataFrom from the HDFS weather-samples.csv file.
3. Write Spark code the answer the following questions.

In [52]:
weather_df = spark.read.option("inferSchema", "false").option("header", "true").csv("weather-samples.csv")

# Cast all column string types to double types
for col in weather_df.columns:
    weather_df = weather_df.withColumn(col, weather_df[col].cast("double"))

weather_df.show()

+------+----------------+------------+----------------------+------------------+----------------------+------------------+---------------------+-----------------+---------------------+---------------------+
|number|air_pressure_9am|air_temp_9am|avg_wind_direction_9am|avg_wind_speed_9am|max_wind_direction_9am|max_wind_speed_9am|rain_accumulation_9am|rain_duration_9am|relative_humidity_9am|relative_humidity_3pm|
+------+----------------+------------+----------------------+------------------+----------------------+------------------+---------------------+-----------------+---------------------+---------------------+
|   0.0|          918.06|      74.822|                 271.1|         2.0803542|                 295.4|         2.8632832|                  0.0|              0.0|                42.42|                36.16|
|   1.0|     917.3476881| 71.40384263|           101.9351794|       2.443009216|           140.4715485|       3.533323602|                  0.0|              0.0|          24.32869729|           19.4265968|
|   2.0|          923.04|      60.638|                  51.0|        17.0678522|                  63.7|        22.1009672|                  0.0|             20.0|                  8.9|                14.46|
|   3.0|     920.5027512| 70.13889487|           198.8321327|       4.337363056|           211.2033412|        5.19004536|                  0.0|              0.0|          12.18910187|          12.74254735|
|   4.0|          921.16|      44.294|                 277.8|         1.8566602|                 136.5|         2.8632832|                  8.9|          14730.0|                92.41|                76.74|
|   5.0|           915.3|      78.404|                 182.8|         9.9320136|                 189.0|        10.9833754|                 0.02|            170.0|                35.13|                33.93|
|   6.0|     915.5988675| 70.04330432|           177.8754072|       3.745586538|           186.6066959|       4.589632429|                  0.0|              0.0|          10.65742166|          21.38565673|
|   7.0|          918.07|       51.71|                 242.4|         2.5277422|                 271.6|         3.6462122|                  0.0|              0.0|                80.47|                74.92|
|   8.0|          920.08|      80.582|                  40.7|         4.5186188|                  63.0|         5.8831522|                  0.0|              0.0|                29.58|                24.03|
|   9.0|          915.01|      47.498|                 163.1|         4.9436374|                 195.9|         6.5766036|                  0.0|              0.0|                 88.6|                68.05|
|  10.0|          919.65|      77.036|                  70.6|         3.8251674|                  85.5|         4.7646822|                  0.0|              0.0|                22.07|                32.13|
|  11.0|          915.64|      45.716|                 241.6|         5.8607828|                 265.8|         8.0306146|                 0.55|           1770.0|                90.56|                79.09|
|  12.0|          917.39|      49.784|                 204.1|         1.2750558|                 211.8|          2.013246|                  0.0|              0.0|                73.15|                58.43|
|  13.0|          920.82|      62.438|                 213.6|         2.6172198|                 165.7|         3.3106712|                  0.0|              0.0|                43.64|                27.99|
|  14.0|           911.0|      86.432|                 202.9|         1.2079476|                 162.9|          1.677705|                  0.0|              0.0|                15.19|                24.37|
|  15.0|     922.3831312| 70.86526349|           36.17417478|       1.847278084|           58.42863249|       2.529142074|                  0.0|              0.0|          12.11088934|          14.80170596|
|  16.0|          917.89|        null|                 169.2|         2.1922012|                 196.8|         2.9303914|                  0.0|              0.0|                48.99|                51.19|
|  17.0|     916.9152554| 77.01896058|            234.539345|       2.274725297|           229.4741987|       2.906513109|                  0.0|              0.0|          21.03146177|          20.75568332|
|  18.0|           918.8|      67.082|                 176.1|         4.8765292|                 183.4|         5.5699806|                  0.0|              0.0|                 18.9|                45.87|
|  19.0|          922.04|      68.576|                  58.3|         9.5517338|                  81.9|        12.5716028|                  0.0|              0.0|                 7.54|                 7.74|
+------+----------------+------------+----------------------+------------------+----------------------+------------------+---------------------+-----------------+---------------------+---------------------+
only showing top 20 rows

a. List the columns of the data set.

In [53]:
weather_df.columns

['number',
 'air_pressure_9am',
 'air_temp_9am',
 'avg_wind_direction_9am',
 'avg_wind_speed_9am',
 'max_wind_direction_9am',
 'max_wind_speed_9am',
 'rain_accumulation_9am',
 'rain_duration_9am',
 'relative_humidity_9am',
 'relative_humidity_3pm']

b.  Print summary statistics for all the columns, e.g., using the describe() method.

In [101]:
weather_df.describe().show()

+-------+------------------+-----------------+------------------+----------------------+------------------+----------------------+------------------+---------------------+------------------+---------------------+---------------------+
|summary|            number| air_pressure_9am|      air_temp_9am|avg_wind_direction_9am|avg_wind_speed_9am|max_wind_direction_9am|max_wind_speed_9am|rain_accumulation_9am| rain_duration_9am|relative_humidity_9am|relative_humidity_3pm|
+-------+------------------+-----------------+------------------+----------------------+------------------+----------------------+------------------+---------------------+------------------+---------------------+---------------------+
|  count|              1095|             1092|              1090|                  1091|              1092|                  1092|              1091|                 1089|              1092|                 1095|                 1095|
|   mean|             547.0|918.8825513141026| 64.93300141293575|    142.23551070020164| 5.508284242259157|    148.95351796495402| 7.019513529173236|  0.20307895225528005|294.10805227496246|   34.241402059256586|    35.34472714823471|
| stddev|316.24357700987383|3.184161181422828|11.175514003266809|     69.13785928883635| 4.552813465529014|     67.23801294593558| 5.598209170789135|    1.593952125356949|1598.0787786596147|   25.472066802254194|   22.524079453607285|
|    min|               0.0|           907.99|            36.752|                  15.5|         0.6934514|                  28.9|         1.1855782|                  0.0|               0.0|                 6.09|                  5.3|
|    max|            1094.0|           929.32|            98.906|                 343.4|        23.5549782|                 312.2|        29.8407796|                24.02|           17704.0|                92.62|                92.25|
+-------+------------------+-----------------+------------------+----------------------+------------------+----------------------+------------------+---------------------+------------------+---------------------+---------------------+

c.  Print the summary statistics for one column: air_pressure_9am.

In [54]:
weather_df.select("air_pressure_9am").describe().show()

+-------+-----------------+
|summary| air_pressure_9am|
+-------+-----------------+
|  count|             1092|
|   mean|918.8825513141026|
| stddev|3.184161181422828|
|    min|           907.99|
|    max|           929.32|
+-------+-----------------+

d. Drop rows with missing values in the air_pressure_9am column.

In [55]:
weather_df = weather_df.filter(weather_df.air_pressure_9am.isNotNull())
weather_df.count()

1092

e. How many rows are dropped at the previous step?

In [74]:
# 3 rows have been dropped from the previous filter step..

f. What is the difference between the mean values of air_temp_9am before and after dropping all the missing values?

In [56]:
weather_df.select("air_pressure_9am").describe().show()

# It appears that there is no difference in the mean after dropping the rows w the missing values.

# BEFORE mean was 918.8825513141026
# AFTER mean is 918.8825513141026

# Pyspark does not count the missing values when executing the mean calculation, so after dropping the
# rows w the missing values, it did not affect the mean calculation

+-------+-----------------+
|summary| air_pressure_9am|
+-------+-----------------+
|  count|             1092|
|   mean|918.8825513141026|
| stddev|3.184161181422828|
|    min|           907.99|
|    max|           929.32|
+-------+-----------------+

g. Compute correlation between two columns: rain_accumulation_9am and rain_duration_9am.

In [57]:
from pyspark.sql.functions import corr

weather_df.stat.corr("rain_accumulation_9am", "rain_duration_9am")

# 0.7298 score means that the two columns are highly correlated

0.7298253479606396

### Impute missing values. 
h. Instead of removing rows containing missing values, replace the values with the mean value for that column. First, load the avg function and make a copy of the original DataFrame.

In [58]:
from pyspark.sql.functions import avg, lit

weather_df_copy = weather_df

i. Next, iterate through each column in the DataFrame, compute the mean value for that column and then replace any missing values in that column with the mean.

In [59]:
for column in weather_df.columns:
    average = weather_df.select(avg(column)).take(1)[0][0]
    weather_df_copy = weather_df_copy.fillna(average, subset=[column])

j. Print imputed data summary statistics. Call describe() to show the summary statistics for the original and imputed air_temp_9am. What is the difference between the mean values of air_temp_9am before and after the imputation?

In [60]:
print("ORIGINAL")
weather_df.select("air_temp_9am").describe().show()

print("AFTER FILL NAs w AVG")
weather_df_copy.select("air_temp_9am").describe().show()

diff = 64.96896753152711 - 64.9689675315271
print("The difference between the mean values of air_temp_9am before and after the imputation is {0}".format(diff))
print("In other words, it basically didn't change because of how small the change actually is!")

ORIGINAL
+-------+------------------+
|summary|      air_temp_9am|
+-------+------------------+
|  count|              1087|
|   mean| 64.96896753152711|
| stddev|11.154041196565856|
|    min|            36.752|
|    max|            98.906|
+-------+------------------+

AFTER FILL NAs w AVG
+-------+-----------------+
|summary|     air_temp_9am|
+-------+-----------------+
|  count|             1092|
|   mean| 64.9689675315271|
| stddev|11.12845263063525|
|    min|           36.752|
|    max|           98.906|
+-------+-----------------+

The difference between the mean values of air_temp_9am before and after the imputation is 1.4210854715202004e-14
In other words, it basically didn't change because of how small the change actually is!