<h1 style="text-align:center"> Drexel University </h1>
<h2 style = "text-align:center"> College of Computing and Informatics</h2>
<h2 style = "text-align:center">INFO 323: Cloud Computing and Big Data</h2>
<h3 style = "text-align:center">Assignment 2 Question 5</h3>
<div style="text-align:center; border-style:solid; padding: 10px">
This question has 40 marks for the assignment.
</div>

### A. Assignment2 Question5 Overview
This question provides the opportunity for you to practice with Spark programming basics. 

### B. What to Hand In
	
Sumbit a completed this Jupyter notebook and the required results. 

### C. How to Hand In

Submit your Jupyter notebook along with other files through the course website in the Blackboard Learn system.

### D. When to Hand In

1. Submit your assignment no later than 11:59pm in the due date.
2. There will be a 10% (absolute value) deduction for each day of lateness, to a maximum of 3 days; assignments will not be accepted beyond that point. Missing work will earn a zero grade.

### E. Complete the following steps
### Note: All the programming must be done in Spark.

In [1]:
# Check the Spark availability and version 
spark.version

'2.4.8'

## Excercise 1: Store and Access data in Google File System

#### a. Upload the data file "flights-dest-origin.csv" to the same folder as this notebook in the Google storage bucket.

#### b. Load the data file as RDD from the Google storage:

In [35]:
file = spark.sparkContext.textFile("gs://info332-dnp68-test/notebooks/jupyter/flights-dest-origin.csv")

In [36]:
type(file)

pyspark.rdd.RDD

#### c. List the first 5 records of the RDD.

In [38]:
file.take(5)

['United States,Saint Martin,1',
 'United States,Romania,12',
 'United States,Croatia,2',
 'United States,Ireland,291',
 'United States,India,62']

#### d. Transform the RDD records to individual fields by spliting the records on comma

In [41]:
fields = file.map(lambda line: line.split(","))

#### e. List the first 5 records of the resultant RDD

In [42]:
fields.take(5)

[['United States', 'Saint Martin', '1'],
 ['United States', 'Romania', '12'],
 ['United States', 'Croatia', '2'],
 ['United States', 'Ireland', '291'],
 ['United States', 'India', '62']]

#### f. Transform the RDD records to (dest, 1) pairs

In [43]:
dest_ = fields.map(lambda fields: (fields[0], 1))

#### g. List the first 5 records of the resultant RDD

In [44]:
dest_.take(5)

[('United States', 1),
 ('United States', 1),
 ('United States', 1),
 ('United States', 1),
 ('United States', 1)]

#### h. Reduce the records to (dest, count)

In [45]:
dest_counts =  dest_.reduceByKey(lambda a, b: a+b)

#### i. List the first 5 records

In [46]:
dest_counts.take(5)

[('United States', 118),
 ('Costa Rica', 1),
 ('Malawi', 1),
 ('Anguilla', 1),
 ('Algeria', 1)]

#### j. Save the result to a folder in the Google storage bucket

In [48]:
dest_counts.saveAsTextFile("gs://info332-dnp68-test/notebooks/jupyter/dest_counts_spark")

#### l. Download the partitions in the saved folder to your local computer system. Combine the results as a file "dest-counts-gs.txt". Submit the file.

In [ ]:
#see the attachement

## Exercise 2: Store and Access data in Hadoop Distributed File System. This exercise will repeat every step in Exercise 1 but use data stored in HDFS

#### a. Create a folder in the HDFS and Upload the data file "flights-dest-origin.csv" to the HDFS folder.

In [ ]:
devamnpatel@cluster-ad6d-m:~$ gsutil cp gs://info332-dnp68-test/notebooks/jupyter/flights-dest-origin.csv flights-dest-origin.csv
Copying gs://info332-dnp68-test/notebooks/jupyter/flights-dest-origin.csv...
/ [1 files][  6.8 KiB/  6.8 KiB]                                                
Operation completed over 1 objects/6.8 KiB.                                      
devamnpatel@cluster-ad6d-m:~$ hdfs dfs -mkdir /flight_data
devamnpatel@cluster-ad6d-m:~$ hdfs dfs -put flights-dest-origin.csv /flights_data
devamnpatel@cluster-ad6d-m:~$ -ls
-bash: -ls: command not found
devamnpatel@cluster-ad6d-m:~$ ls
flights-dest-origin.csv

#### b. Load the data file as RDD from the HDFS folder:

In [49]:
path = "hdfs:/flights_data/flights-dest-origin.csv"
file = spark.sparkContext.textFile(path)

#file = spark.sparkContext.textFile("gs://info332-dnp68-test/notebooks/jupyter/flights-dest-origin.csv")

#### c. List the first 5 records of the RDD.

In [50]:
file.take(5)

['United States,Saint Martin,1',
 'United States,Romania,12',
 'United States,Croatia,2',
 'United States,Ireland,291',
 'United States,India,62']

#### d. Transform the RDD records to individual fields by spliting the records on comma

In [53]:
fields = file.map(lambda line: line.split(","))

#### e. List the first 5 records of the resultant RDD

In [54]:
fields.take(5)

[['United States', 'Saint Martin', '1'],
 ['United States', 'Romania', '12'],
 ['United States', 'Croatia', '2'],
 ['United States', 'Ireland', '291'],
 ['United States', 'India', '62']]

#### f. Transform the RDD records to (dest, 1) pairs

In [55]:
dest_1 = fields.map(lambda fields: (fields[0], 1))

#### g. List the first 5 records of the resultant RDD

In [56]:
dest_1.take(5)

[('United States', 1),
 ('United States', 1),
 ('United States', 1),
 ('United States', 1),
 ('United States', 1)]

#### h. Reduce the records to (dest, count)

In [57]:
dest_counts =  dest_1.reduceByKey(lambda a, b: a+b)

#### i. List the first 5 records

In [58]:
dest_counts.take(5)

[('United States', 118),
 ('Costa Rica', 1),
 ('Malawi', 1),
 ('Anguilla', 1),
 ('Algeria', 1)]

#### j. Save the result to a folder in the HDFS

In [59]:
dest_counts.saveAsTextFile("gs://info332-dnp68-test/notebooks/jupyter/dest-counts-hdfs")

#### l. Download the partitions in the saved HDFS folder to your local computer system. Combine the results as a file "dest-counts-hdfs.txt". Submit the file.

In [ ]:
#see the attachment